body {
    background-image: url('../img/background.png');
    background-repeat: repeat;
    background-size: cover;
}

.btn-carmine {
    background-color: #960018;
    color: white;
}

.btn-hearts-card {
    background-color: #ff0000;
    color: white;
}

.btn-hearts-card:hover {
    background-color: #cc0000;
    color: white;
}

.btn-outline-spades {
    border-color: #46679b;
    color: #46679b;
}

.btn-outline-spades:hover {
    background-color: #46679b;
    color: white;
}

.btn-carmine:hover {
    background-color: #7a0014;
    color: white;
}

.text-hearts {
    color: #ff0000;
}